# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ProjectTypeDefsizet/.vs/ProjectTypeDefsizet/v16/Browse.VC.db
ProjectTypeDefsizet/.vs/ProjectTypeDefsizet/v16/Browse.VC.db-shm
ProjectTypeDefsizet/.vs/ProjectTypeDefsizet/v16/Browse.VC.db-wal
ProjectTypeDefsizet/.vs/ProjectTypeDefsizet/v16/Browse.VC.opendb
ProjectTypeDefsizet/.vs/ProjectTypeDefsizet/v16/ipch/AutoPCH/a1e9af7f614cdc8/SOURCE.ipch
